.container-sec2 {
    margin-bottom: 150px;
}
.container-sec2 > h1{
    /* display: flex;
    flex-direction: row; */
    /* align-items: center; */
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
}
.container-sec2 > h3{
    /* display: flex;
    flex-direction: row; */
    /* align-items: center; */
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
}
.cont-sec2 {
    margin-top: 30px;
}
.cont-sec2 > h2 {
    font-weight: 700;
    font-size: 11px;
}