.sec4 {
  /* padding-top: 100px; */
  margin-top: 100px;
  gap: 30px;
}

.map-img {
  /* width: 100%; */
  /* width: 80%; */
  height: 600px;
  /* height: 90%; */
}

.bg-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 52px;
  /* margin-left: 100px; */

  /* Linear/White Glass Fill */

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.27);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* -webkit-filter: blur(15px); */
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 30px;
}

.bg-text::after {
  -webkit-filter: blur(15px);
}

/* .text {
  position: relative;
  z-index: 2;
} */

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 87px;
  color: #004c92;
}

.text1 {
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
  color: #545659;
}
.text2 {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
  color: #545659;
}
.text3 {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
  color: #545659;
}
