.cont-services {
  display: flex;
  align-items: center;
}
.cont-services > h3 {
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  text-align: justify;
}
.cont-services > img {
  width: 400px;
  object-fit: cover;
  border-radius: 15px;

}

.wrap-services {
  gap: 0px;
  border-radius: 15px;
}
.wrap-services > div {
  border-radius: 15px;
}
