.wrap-abt5-sec {
    padding-bottom: 150px;
}
.wrap-abt-slide {
    padding-bottom: 120px;
}
.wrap-abt-slide > h1 {
    font-weight: bold;
    margin-bottom: 60px;
    /* font-size: 20px; */
}
.wrap-img {
    border-radius: 15px;
    height: 360px;
    max-height: 490px;
}
.wrap-img > img{    
    border-radius: 15px;
    width: 100% !important;
    /* width: auto !important; */
    margin-left: auto;
    margin-right: auto;
    cursor: grab;
}
.wrap-img > h1 {
    margin-top: 20px;
    font-weight: bold;
}
.slidur {
    display: none;
}
.carousel-abt-slide {
    gap: 30px;
    /* margin-top: 60px; */
    cursor: grab;
    overflow:scroll;
    padding-bottom: 30px !important;
  }
  .img-card-slide {
    height: 350px;
    width: 450px;
    object-fit:cover;
    /* image-resolution: from-image 10dpi; */
    /* object-position: 0px; */
  }
  .stor {
    object-position: 0px;
  }
  .wrap-card-ofc {
    border-radius: 15px;
  }
.slick-container {
    max-width: 100vw !important;
/* width: 500px !important; */
/* overflow: hidden !important;
margin-bottom: -200px; */
/* padding-bottom: 150px !important; */
}

.slick-slide {
    margin-left:27px;
  }
.slick-list {
    margin-left:-27px;
    /* margin-bottom: 20px; */
    /* margin-bottom: -350px !important; */
}

@media only screen and (max-width: 534px) {
    .img-card-slide {
        /* height: 400px; */
        /* width: 100%; */
      }
  
  }