* {
  font-family: "Poppins", sans-serif;
}
.sec-1-3 {
  margin-top: 0px;
}

.sec-456 {
  /* width: 1920px; */
  /* height: 2733px; */
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fs-24 {
  font-size: 24px;
}

.fs-title {
  font-size: 40px;
}

.fs-sm-title {
  font-size: 28px;
}

.fs-big {
  font-size: 50px;
}

.fs-bigger {
  font-size: 64px;
}

.fs-20 {
  font-size: 20px;
}

.fs-16 {
  font-size: 16px;
}

.fs-15 {
  font-size: 15px;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-normal {
  font-size: 20px;
  font-weight: 400;
  color: #545659;
}

.lh-30 {
  line-height: 30px;
}
.lh-28 {
  line-height: 28px;
}

.gap-72 {
  gap: 72px;
}
.mb-150 {
  margin-bottom: 150px;
}
.mb-200 {
  margin-bottom: 200px;
}
.mt-200 {
  margin-top: 200px !important;
}
.mt-100 {
  margin-top: 100px;
}
.mt-150 {
  margin-top: 150px;
}
.mb-100 {
  margin-bottom: 100px;
}

.mb-80 {
  margin-bottom: 80px;
}

.bg-blur {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.234) 100%
  );
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */
}

.text-color-rb {
  background: linear-gradient(267.13deg, #0e5579 7.72%, #ac2523 96.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.jse {
  justify-content: end;
}

.color-navy {
  color: #0e5579 !important;
}

.color-gray {
  color:#545659; 
}

.bg-navy {
  background: #0e5579 !important;
  color: white;
}

.ls-1 {
  letter-spacing: 1px;
}

.w-30 {
  width: 30%;
}

.py-150 {
  padding-top: 150px;
  padding-bottom: 150px;
}
.sec-1-3 {
  background-image: url(./Images/ng-land.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 150px;
  padding-bottom: 150px;
}
/* .sec-456 {
  background-image: url(./Images/Bottom.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 80px;
} */
.wrap-sec1-ab {
  background-image: url(./Images/bg-abt1.png);
  padding-bottom: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.wrap-sec2-ab {
  background-image: url(./Images/bg-abt2.png);
  /* padding-bottom: 150px; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* padding-top: 80px; */
}
.wrap-sec3-ab {
  background-image: url(./Images/bg-abt3.png);
  /* padding-bottom: 150px; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* margin-bottom: -350px !important; */
  padding-top: 150px;
}
.wrap-sec13-serv {
  background-image: url(./Images/bg-serv.png);
  padding-bottom: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 150px;
}